$border: 2px solid black;
$spacing: 10px;
$window-width: 600px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    overflow: hidden;

    width: $window-width;
    margin: 0 auto;
    padding: $spacing;

    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;

    border: 2px solid black;
}

.disabeld {
    pointer-events: none;

    opacity: .5;
}

.preview {
    width: calc(#{$window-width} - 4px - #{$spacing} * 2);
    height: calc(#{$window-width} * 7.5/16);
    margin-bottom: -3px;

    pointer-events: none;

    border: none;
}

.settings {
    display: flex;

    width: 100;

    border-top: $border;
    border-bottom: $border;
    .column {
        width: 50%;
        padding: $spacing * 1.5;
        &:first-child {
            border-right: $border;
        }
    }
}

.radio {
    font-size: 12px;

    padding: .5em 0;
}

h3 {
    margin-bottom: $spacing;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

select {
    width: 100%;

    border: $border;
    border-radius: 0;
    option {
        font-size: 12px;

        padding: .5em 1em;
    }
}

select[multiple]:focus {
    outline: none;
    option {
        &:checked {
            color: white;
            background: black linear-gradient(0deg, black 0%, black 100%);
        }
    }
}


input[type='radio'] {
    position: absolute;

    opacity: 0;
}

input[type='radio'] + label {
    position: relative;

    padding: 0 0 0 2em;
}

input[type='radio'] + label:before {
    position: absolute;

    display: block;

    width: 1em;
    height: 1em;

    content: '';

    border: $border;
    border-radius: 100%;
    background: white;
    box-shadow: inset 0 0 0 2px white;
}

input[type='radio']:checked + label:before {
    background: black;
}

footer {
    width: 100%;
    padding: 0.2rem 0 0.6rem;
    color: #8a8a8a;
    text-align: center;
    
    a{
        color: black;
    }  
    .emoji{
        font-size: 1.6em;
    }
}
